div(class='ui secondary pointing menu')
  a(class=(active.addProduct ? 'active ': '') + 'item', href='/') Agregar producto
  a(class=(active.products ? 'active ': '') + 'item', href='/products') Ver productos