<div class="ui secondary pointing menu">
  <a class="item {{#if active.addProduct}}active{{/if}}" href="/">
    Agregar producto
  </a>
  <a class="item {{#if active.products}}active{{/if}}" href="/products">
    Ver productos
  </a>
</div>